@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

@font-face {
    font-family: 'chunkfiveroman';
    src: url('chunkfive-webfont.eot');
    src: url('chunkfive-webfont.eot?#iefix') format('embedded-opentype'),
         url('chunkfive-webfont.woff2') format('woff2'),
         url('chunkfive-webfont.woff') format('woff'),
         url('chunkfive-webfont.ttf') format('truetype'),
         url('chunkfive-webfont.svg#chunkfiveroman') format('svg');
    font-weight: normal;
    font-style: normal;
}

html{
	font-family: "Montserrat";
}

h1, h2, h3, h4, h5, h6{
	font-family: "chunkfiveroman";
	text-transform: uppercase;
	text-align: center;
	color: #fff;
}

h1.page-title, h3.page-subtitle{
	text-shadow: 2px 2px 5px #000;
}
h2{
  padding-top: 1em;
  color: #1C459E;
}

p{
  font-family: "chunkfiveroman";
}

time{
	font-size: 23px;
	font-weight: 300;
	line-height: 24px;
	letter-spacing: -.01em;
	-webkit-font-smoothing: antialiased;
}
.logo{
  text-align: center;
  margin: auto;
}

.logo img{
  width: 100%;
  height: auto;
  display: block;
}

.header{
    height: calc(100vh - 7px);
    border-top: 7px solid #5fcbec;
    background: url("bg_2.jpg") no-repeat fixed;
    background-size: cover;
}

.mdl-layout__content{
    background-color: #ddd;
    border-top: 7px solid #eee;
}

.page-content{
	margin: auto;
}

.mdl-card{
	display: table-cell;
}

.page-content p{
    opacity: .87;
    text-align: center;
    line-height: 40px;
    color: #000;
    font-size: 23px;
    font-weight: 300;
    margin: 2rem 0;
    letter-spacing: -.01em;
    -webkit-font-smoothing: antialiased;
}

.section-event-date{
	height: 140px;
	padding: 28px 0;
	background-color: #5fcbec;
	text-align: center;
	color: #333;
	font-family: "Montserrat";
	font-weight: bold;
}

.form-signup{
  background: rgba(8, 49, 112, 0.75);
}

.button-view-more{
  width: 100%;
}

.page-venue{
  background-color: #5fcbec;
}
.page-video, .page-map, .page-contact-button{
  /*padding: 0 10rem 3em 10em;*/
}

.page-video {
  margin: 0.5em;
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px; height: 0;
  overflow: hidden;
}

.page-video iframe,
.page-video object,
.page-video embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.image-credits{
  bottom: 0;
  position: absolute;
  background-color: rgba(0,0,0,0.8);
  /*width: 100%;*/
  font-size: x-small;
}
.image-credits a{
  padding: 1em;
  color: #fff;
}
.page-map small{
  display: block;
  text-align: center;
}
.page-map small a{
  margin: 1em;
}